<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/webapp/public/bootstrap/dist/css/bootstrap.min.css">
    <script src="/webapp/public/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to อุอิ <%= title %></p>
  </body>
</html>
