<header class="">
    <%- include('navbar') %>
  </header>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Receipts ID</th>
        <th scope="col">Show name</th>
        <th scope="col">Hall name</th>
        <th scope="col">Date Time</th>
        <th scope="col">Zone</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>